<!DOCTYPE html>
<html ng-app="sourcelist">
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/Client.js"></script>
        <script src="sourcelist.js"></script>
    </head>
    <body ng-controller="SourceListController">
        <h1>List of devices</h1>
        <div ng-repeat="device in client.deviceList | orderBy:'socketId'">
            <label>
                <img ng-src="/icons/{{iconMap[device.kind]}}"/>
                <input type="radio" name="device" ng-model="selectedDevice.data" ng-value="device"/>
                {{device.label}}
            </label>
        </div>
        <h1>Device details</h1>
        <pre>{{ selectedDevice.data | json }}</pre>
        <footer><a href="https://icons8.com/">Icons are from Icons8</a></footer>
    </body>
</html>
